:host ::ng-deep {
  [pDraggable] {
    cursor: move;
  }
}

// Task form

form {
  padding: 0px 16px;
}

h2 {
  margin-top: 32px;
}

.taskheadline {
  font-size: 24px;
  font-weight: 900;
  padding-left: 16px;
}

.p-inplace .p-inplace-display {
  padding: 0;

  &:hover {
    background: none;
  }
}

.p-button.p-button-icon-only {
  width: 24px;
  height: 24px;
  padding: 8px 0;
}

.p-inplace-closable {
  margin-top: 8px;
  margin-bottom: 16px;
}

input,
textarea,
.p-calendar {
  width: 100% !important;
  resize: none;
}

.p-dropdown {
  width: 100%;
}

.priorities-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0px 16px;

  div {
    display: flex;
    gap: 16px;
  }
}

// Board & Header

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 80px 16px 48px;
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid lightgrey;
  margin-top: 0px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

.topmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  div {
    align-items: center;
  }
}

.board {
  display: flex;
  gap: 32px;
  padding: 32px;
}

// Board Column
.board-column {
  width: 25%;
}

// Task Card
.p-card .p-card-body {
  position: relative !important;
}

.p-card .p-card-content {
  padding: 0;
  position: relative;
}

.card-menu {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

// Mobile Sidebar
@media (max-width: 1024px) {
  h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .headline-sm {
    padding: 8px 0px;
  }

  .p-inplace-closable {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .taskheadline {
    padding: 0;
  }

  form {
    padding: 0;

    div {
      gap: 8px !important;
    }
  }

  .priorities-container {
    padding: 8px 8px 0px 8px;

    div {
      display: flex;
      gap: 8px;
    }
  }

  .mt-sm {
    margin-top: 16px;
  }
}

// Mobile Board
@media (max-width: 930px) {
  .topmenu {
    gap: 16px;
  }

  .header {
    padding: 16px 32px 16px 32px;
  }

  .board {
    flex-direction: column;
    padding: 16px;
  }

  .board-column {
    width: 100%;
  }
}
