@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.mr-8 {
  margin-bottom: 8px !important;
}

.headline-sm {
  font-weight: 700;
  padding: 12px 0px;
}

.flex-row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-lg {
  gap: 32px;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 16px;
}

.padding-sm {
  padding: 8px;
}

.padding-md {
  padding: 16px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mt-lg {
  margin-top: 40px;
}

.mt-sm {
  margin-top: 32px;
}

.mb-md {
  margin-bottom: 16px;
}

// Login & Register

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    div {
    // padding: 0px 16px;
    text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        width: 300px;
    }
}

.form-row {
    display: flex;
    gap: 32px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left !important;
}

.p-message .p-message-wrapper {
    padding: 0.5rem 2.0rem
}

// Task form
.p-dropdown, .p-calendar {
    width: 100%;
  }

//Board 
.p-panel .p-panel-content {
    display: flex !important;
    flex-direction: column !important;
    gap: 32px !important;
    background-color: #f9f9f9;
  }

  .p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    padding-right: 20%;
  } 